{% extends "layout.html" %}

{% block body %}
<h3>{{ resepti_name }}</h3>
<form method="POST" action"{{ url_for('get_resepti', resepti_id=resepti.id) }}">
  <table>
    <tr>
      <th>Reseptin nimi</th>
      <th>{{ form.name(readonly=true) }}</th>
    </tr>
    <tr>
      <th>Ainesosat</th>
      <th>{{ form.ainesosat(readonly=true) }}</th>
    </tr>
    <tr>
      <th>Työvaiheet</th>
      <th>{{ form.tyovaiheet(readonly=true) }}</th>
    </tr>
    <tr>
      <th>Tyyppi</th>
      <th>
        {% for tyyppi in resepti.tyypit %}
            {{ tyyppi.name }}
        {% endfor %}
      </th>
    </tr>
    <tr>
      {% for luokka in resepti.luokat %}
      <tr>
        <td>
          {{ luokka.name }}
        </td>
      </tr>
      {% endfor %}
    </tr>
 
    <tr>
 
      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/reseptit/{{resepti.id}}/edit'" >Muokkaa</button></td>
      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/reseptit'" >Takaisin</button></td>

    </tr>

  </table>
</form>
{% endblock %}
