{% extends "layout.html" %}

{% block body %}
<h3>{{ resepti_name }}</h3>
<form method="POST" action"{{ url_for('get_resepti', resepti_id=resepti.id) }}">
  <table>
    <tr>
      <th>Reseptin nimi</th>
      <th>Ainesosat</th>
      <th>Työvaiheet</th>
      <th></th>
    </tr>
    <tr>
      <td>{{ form.name(readonly=true) }}</td>
      <td>{{ form.ainesosat(readonly=true) }}</td>
      <td>{{ form.tyovaiheet(readonly=true) }}</td>

      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/reseptit/{{resepti.id}}/edit'" >Muokkaa</button></td>
    </tr>
    <tr>
      <td><a href="{{ url_for('reseptit_index') }}">Takaisin</a></td>
    </tr>
  </table>
</form>
<form method="POST" action="{{ url_for('kommentit_create', resepti_id=resepti.id) }}">
  <table>
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name }}</td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="5">

        </td>
      </tr>
  </table>
</form>

<form>
  <table>
    {% if reseptin_kommentit is defined %}
    <tr>
      <th>Kommentit</th>
    </tr>
    <ul>
      {% for kommentti in reseptin_kommentit %}
      <li>
        {{kommentti.id}} {{kommentti.name}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </table>
</form>
{% endblock %}


