{% extends "layout.html" %}

{% block body %}
<h3>Reseptit</h3>
  <table>
    <tr>
      <th>Resepti</th>
      <th>Reseptin tyyppi</th>
      <th>Luokka</th>
      <th>Kokeiltu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for resepti in reseptit %}
    <tr>
      <td>{{ resepti.name }}</td>
      <td>{{ resepti.tyypit }}</td>
      <td>{{ resepti.luokat }}</td>
      <td>{{ resepti.done }}</td>
      <td><form method="POST" action="{{ url_for('reseptit_set_done', resepti_id=resepti.id) }}">
	        <input type="submit" value="Muuta status!"/>
      </form></td>
      <td><form method="GET" action="{{ url_for('get_resepti', resepti_id=resepti.id) }}"><input type="submit" value="Näytä tiedot"/></form></td>
      <td><form method="POST" action="{{ url_for('delete_resepti', resepti_id=resepti.id) }}"><input type="submit" value="Poista resepti"/></form></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
