{% extends "layout.html" %}

{% block body %}
<h3>Reseptit</h3>
  <table>
    <tr>
      <th>Resepti</th>
      <th>Ainesosat</th>
      <th>Työvaiheet</th>
      <th>Done</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for resepti in reseptit %}
    <tr>
      <td>{{ resepti.name }}</td>
      <td>{{ resepti.ainesosat }}</td>
      <td>{{ resepti.tyovaiheet }}</td>
      <td>{{ resepti.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('reseptit_set_done', resepti_id=resepti.id) }}">
	  <input type="submit" value="Muuta status!"/>
	</form>
      </td>
      <td><button onclick="location.href='/reseptit/{{resepti.id}}'" >Näytä tiedot</button></td>
      <td><form method="POST" action="{{ url_for('delete_resepti', resepti_id=resepti.id) }}"><input type="submit" value="Poista resepti"/></form></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
