{% extends "layout.html" %}

{% block body %}
<h3>Profiilisivu</h3>
<form method="POST" action"{{ url_for('show_profile', user_id=user.id) }}">
  <table>
    <tr>
      <th>Käyttäjätunnus</th>
      <th>Nimi</th>
      <th>Sähköposti</th>
      <th></th>
    </tr>
    <tr>
      <td>{{ form.username(readonly=true) }}</td>
      <td>{{ form.name(readonly=true) }}</td>
      <td>{{ form.email(readonly=true) }}</td>
    </tr>
    <tr>
      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/auth/edit/{{user.id}}'" >Muokkaa profiilia</button></td>
      <td><button class="btn btn-info btn-lg" type="button" onclick="location.href='/auth/password/{{user.id}}'" >Muokkaa salasanaa</button></td>
    </tr>
    <tr>
      <td><a href="{{ url_for('reseptit_index') }}">Takaisin</a></td>
    </tr>
  </table>
</form>
<form>
  <table>
    <h4>Omat reseptini</h4>

    {% for resepti in user.reseptit %}
    <tr>
      <td><a href="{{ url_for('get_resepti', resepti_id=resepti.id) }}">{{ resepti.name }}</a></td>
    </tr>
    {% endfor %}
    
  </table>


  <tr><a href="{{ url_for('paaruoat_by_current_user') }}">
    <button type="button" class="btn btn-primary">Näytä pääruokani</button>
  </a></tr>
  
  <tr><a href="{{ url_for('jalkiruoat_by_current_user') }}">
    <button type="button" class="btn btn-primary">Näytä jälkkärini</button>
  </a></tr>

</form>
{% endblock %}

